<!-- about section design -->
<section class="about" id="about">
    <div class="about-img">
      <img src="images/tech.jpg" alt="Rachamv">
    </div>
    <div class="about-content">
      <h2 class="heading">About <span>Me</span></h2>
      <h3 class="about-title">I'm a <span class="multiple-text"></span></h3>
      <p class="about-bio">
        Hi there! I'm Adewunmi Oladele, also known as Rachamv. I'm a passionate software engineer and data scientist
        with expertise in full-stack web development, iOS development, and design.
      </p>
      <p>Throughout my career, I have gained experience working on various projects, solving complex problems, and
        delivering high-quality solutions. I enjoy creating elegant and user-friendly applications that have a positive
        impact on people's lives.</p>
      <p>My journey as a developer started several years ago, and since then, I have been constantly learning and
        improving my skills. I believe in the power of continuous learning and staying up-to-date with the latest
        technologies and trends in the industry.</p>
      <p>Aside from coding, I have a strong passion for art, music, and travel. I believe that creativity and
        inspiration can be found in all aspects of life, and I strive to bring that perspective into my work.</p>
      <p>If you have a project or an idea you'd like to discuss or if you have any questions, feel free to reach out to
        me. I'm always excited to collaborate and explore new opportunities.</p>
      <a href="https://www.tnsquad.com/" class="btn">Visit My Website</a>
      <a href="https://github.com/rachamv" class="btn">Check Out My GitHub</a>
    </div>
  </section>
