  <!-- contact section design -->
  <section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me</span></h2>
    <div class="contact-container">
      <!-- <div class="contact-info">
          <div class="contact-item">
            <i class="bx bx-map"></i>
            <h3>Address</h3>
            <p>123 Street, City, Country</p>
          </div>
          <div class="contact-item">
            <i class="bx bx-phone"></i>
            <h3>Phone</h3>
            <p>+1 123 456 7890</p>
          </div>
        </div> -->
        <form action="mailto:rachamvictor@gmail.com" method="post" enctype="multipart/form-data">
            <div class="input-box">
              <input type="text" name="name" placeholder="Full Name" required>
              <input type="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="input-box">
              <input type="text" name="phone" placeholder="Phone Number" required>
              <input type="text" name="subject" placeholder="Subject" required>
            </div>
            <textarea name="message" placeholder="Your Message" rows="15" required></textarea>
            <button type="submit" class="btn">Send Message</button>
          </form>
    </div>
  </section>