
  <!-- home section design -->
  <section class="home" id="home">
    <div class="home-content">
      <h3>Hello, It's Me</h3>
      <h1>Adewunmi Oladele</h1>
      <h3>And I'm a <span class="multiple-text"></span></h3>
      <p>Also known as Rachamv, I'm a software engineer and data scientist with a passion for full-stack web
        development, iOS development, and design.</p>
      <div class="social-media">
        <a href="#"><i class='bx bxl-facebook'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-telegram'></i></a>
        <a href="#"><i class='bx bxl-instagram-alt'></i></a>
        <a href="#"><i class='bx bxl-linkedin'></i></a>
      </div>
      <a href="#" class="btn" download="my-cv.pdf">Download CV</a>
    </div>
        
    <div class="home-img">
      <img src="images/image-adewunmi.jpg" alt="Rachamv">
    </div>
  </section>

  <section class="about" id="about">
    <div class="about-img">
      <img src="images/tech.jpg" alt="Rachamv">
    </div>
    <div class="about-content">
      <h2 class="heading">About <span>Me</span></h2>
      <h3 class="about-title">Fullstack Developer | Software Engineer</h3>
      <p class="about-bio">
        Hi there! I'm Adewunmi Oladele, also known as Rachamv. I'm a passionate software engineer and data scientist
        with expertise in full-stack web development, iOS development, and design.
      </p>
      <p>Throughout my career, I have gained experience working on various projects, solving complex problems, and
        delivering high-quality solutions. I enjoy creating elegant and user-friendly applications that have a positive impact on people's lives........</p>
      <a href="/about" class="btn">Read More</a>
    </div>
  </section>
  <!-- services section design -->
  <section class="services" id="services">
    <h2 class="heading">My <span>Services</span></h2>
    <div class="services-container">
      <div class="service-item">
        <i class="bx bx-code"></i>
        <h3 class="service-title">Web Development</h3>
        <p class="service-description">I offer professional web development services to create responsive and
          user-friendly websites using modern technologies.</p>
        <br>
        <a href="/services" class="btn">Read More</a>
      </div>

      <div class="service-item">
        <i class="bx bx-mobile-alt"></i>
        <h3 class="service-title">Mobile App Development</h3>
        <p class="service-description">Need a mobile app? I specialize in developing native and cross-platform mobile
          applications for iOS and Android.</p>
        <br>
        <a href="/services" class="btn">Read More</a>
      </div>

      <div class="service-item">
        <i class="bx bx-paint"></i>
        <h3 class="service-title">UI/UX Design</h3>
        <p class="service-description">I can help you create visually appealing and intuitive user interfaces (UI) and
          enhance the user experience (UX) of your applications.</p>
        <br>
        <a href="/services" class="btn">Read More</a>
      </div>
      <!-- <div class="service-item">
          <i class="bx bx-data"></i>
          <h3 class="service-title">Data Science</h3>
          <p class="service-description">With a background in data science, I can provide data analysis, machine learning, and data visualization services to derive valuable insights from your data.</p>
          <br>
          <a href="/services" class="btn">Read More</a>
        </div> -->
    </div>
  </section>

  <!-- portfolio section design -->
  <section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Projects</span></h2>
    <div class="portfolio-container">
      <div class="portfolio-box">
        <img src="images/portfolio1.jpg" alt="Portfolio Item 1">
        <div class="portfolio-layer">
          <h4 class="project-title">PhoenixMart</h4>
          <p class="project-description">A website for an online marketplace.</p>
          <a href="https://www.phoenixmart.com/" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="images/portfolio2.jpg" alt="Portfolio Item 2">
        <div class="portfolio-layer">
          <h4 class="project-title">Project Title</h4>
          <p class="project-description">A project description.</p>
          <a href="https://www.example.com/" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="images/portfolio3.jpg" alt="Portfolio Item 3">
        <div class="portfolio-layer">
          <h4 class="project-title">Project Title</h4>
          <p class="project-description">A project description.</p>
          <a href="#" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="images/portfolio4.jpg" alt="Portfolio Item 3">
        <div class="portfolio-layer">
          <h4 class="project-title">Project Title</h4>
          <p class="project-description">A project description.</p>
          <a href="#" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="images/portfolio5.jpg" alt="Portfolio Item 3">
        <div class="portfolio-layer">
          <h4 class="project-title">Project Title</h4>
          <p class="project-description">A project description.</p>
          <a href="#" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="images/portfolio6.jpg" alt="Portfolio Item 3">
        <div class="portfolio-layer">
          <h4 class="project-title">Project Title</h4>
          <p class="project-description">A project description.</p>
          <a href="#" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Blog section design -->
  <section class="blog" id="blog">
    <h2 class="heading">Latest<span> Blog</span></h2>
    <div class="blog-container">
      <div class="blog-item">
        <img src="./images/image-emily.webp" alt="" width="144" height="144">
        <h3 class="blog-title">Web Development</h3>
        <p class="blog-description">I offer professional web development services to create responsive and
          user-friendly websites using modern technologies.</p>
        <br>
        <a href="/blog" class="btn">Read More</a>
      </div>
    </div>

  <!-- testimonials section design -->
  </section>
  <!-- testimonals section design -->
  <!--part 2-->
  <section class="testimonials" id="testimonials">
    <h2 class="heading">Client <span>Testimonials</span></h2>
    <div class="testimonials-container">
        <div class="testimonials-item">
          <img src="./images/image-emily.webp" alt="" width="144" height="144">
          <h3 class="testimonials-title">Web Development</h3>
          <p class="testimonials-description">I offer professional web development services to create responsive and user-friendly websites using modern technologies.</p>
        </div>
        <div class="testimonials-item">
          <img src="./images/image-jennie.webp" alt="" width="144" height="144">
          <h3 class="testimonials-title">Web Development</h3>
          <p class="testimonials-description">I offer professional web development services to create responsive and user-friendly websites using modern technologies.</p>
        </div>
        <div class="testimonials-item">
          <img src="./images/image-thomas.webp" alt="" width="144" height="144">
          <h3 class="testimonials-title">Web Development</h3>
          <p class="testimonials-description">I offer professional web development services to create responsive and user-friendly websites using modern technologies.</p>
        </div>
    </div>
  </section>
  
  






